<div>
    <table width="80%">
        <tr><td>UpperCase Pipe</td>{{name|uppercase}}</tr>
        <tr><td>LowerCase Pipe</td>{{name|lowercase}}</tr>
    </table>
    <hr/><br>
    <table width="100">
        <tr><td>Data Pipe</td><td>{{date}}</td></tr>
        <tr><td>Data pipe</td><td>{{date|date:'dd/MM/yyyy'}}</td></tr>
        <tr><td>Data pipe</td><td>{{date|date:'dd/MM/yy'}}</td></tr>
        <tr><td>Data pipe</td><td>{{date|date:'fullDate'|uppercase}}</td></tr>
        <tr><td>Data pipe</td><td>{{date|date:'shortDate'}}</td></tr>
    </table>
    <hr/><br>
    <table width="80%">
        <tr><td>Percent pipe </td><td>{{00.5674|percent}}</td></tr>
        <tr><td>Percent pipe </td><td>{{56.74849|currency:"USD"}}</td></tr>
    </table>
</div>